html body{
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}
*{
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6,span, p {
    margin: 0;
    padding: 0;
}

.header{
    color: white;
}
.header .header-large-screen{
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 0.7rem;
}
.header .header-mobile{
    display: none;
}
.nav-wrapper{
    display: flex;
    gap: 1.5rem;
}
.logo-signup-wrapper{
    display: flex;
    align-items: center;
    gap: 0.7rem;
    width:25%;
}

.logo-signup-wrapper .logo{
display: flex;
font-family: Arial, Helvetica, sans-serif;
gap: 0.5rem;
cursor: pointer;
}
.logo-signup-wrapper .logo div{
    background-color: white;    
    color: black;
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 0.2rem  0.5rem;
}
.user{
    height: 2rem;
}
.logo-signup-wrapper .signup{
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    
}
.signup:hover{
    border-bottom: 2px solid blue;
    transition: ease-in 1s;
}

.logo-signup-wrapper .signup-img{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.line{
    background-color: lightgray;
    height: 2rem;
    width: 1px;
}

.nav-wrapper .nav-menus{
    display: flex;
    flex:1;
    justify-content: space-between;
    align-items: center;
}
 .nav-wrapper .nav-menus p{
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
 }

.search-line{
    width: 24px;
}
.three-dot{
    cursor: pointer;
}
.search-line{
    cursor: pointer;
}

.nav-wrapper .logo-signup-wrapper .logo{
    display: flex;
}
.welcome-page{
    background-color: white;
    margin-top: 2rem;
    padding: 0.8rem;
}
.welcome-head{
    display: flex;
    justify-content: space-between;
}
.welcome-page h2{
    margin: 0;
    color: #4a4a4a;
    font-size: 1.4rem;
}
.welcome-page .welcome-head h2 + h2{
    color: #8c8c8c;
    font-weight: lighter;
}

.welcome-img-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 20rem;
    gap: 0.7rem;
    margin-top: 1rem;
}
.welcome-img-wrapper img{
    width: 100%;
    height: 100%;
}
.welcome-img-wrapper .welcome-left{
    background-image:url('./images/welcome-img-1.jpg');
    display: flex;
    align-items: flex-end;
    background-size: cover;
    cursor: pointer;
}


.welcome-left .image-overlay{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.5);
}
.welcome-left .image-overlay:hover{
    background-color: transparent;
}

.welcome-left .welcome-text{
    padding: 1rem;    
}
.welcome-left .welcome-text > h3{
    color: #d3d3d3;
    font-size: 1.1rem;
    font-weight: 400;
}
.welcome-left .welcome-text > h4{
    color: #d3d3d3;
    font-weight: lighter;
    font-size: 0.875rem;
    margin-top: 1rem;
    padding-left: 0.3rem;
    border-left: 2px solid red;
    width: fit-content;
    border-bottom: 1px solid transparent;
    text-transform: uppercase;
}
.welcome-left .welcome-text > h4:hover{
    border-bottom: 1px solid white;
    cursor: pointer;
}

.welcome-img-wrapper .welcome-right{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.welcome-right .welcome-r-1{
    background-image: url('/images/welcome-1.1.jpg');
    background-size: cover;
}

.welcome-right .welcome-r-2{
    background-image: url('/images/welcome2.2.jpg');
    background-size: cover;
}
.welcome-right .welcome-r-3{
    background-image: url('/images/welcome2.3.jpg');
    background-size: cover;
}
.welcome-right .welcome-r-4{
    background-image: url('/images/welcome2.4.jpg');
    background-size: cover;
}
.welcome-img .overlay{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.4); 
    color: white;  
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding:0 0.5rem 0.5rem;
    font-size: 1rem;
    font-weight: bold;
}

.welcome-img .overlay:hover{
    background-color: rgba(0, 0, 0, 0.3);
}
.welcome-img .overlay h4{
    font-weight: 400;
    padding-left: 0.2rem;
    margin-top: 0.5rem;
    font-size: 10px;
    text-transform: uppercase;
    width: fit-content;
    border-bottom: 1px solid transparent;
}

.welcome-img .overlay h4:hover{
    border-bottom: 1px solid white;
}
 .welcome-r-1 .overlay h4{
    border-left: 2px solid teal;
}
.welcome-r-2 .overlay h4{
    border-left: 2px solid yellow;
}

.welcome-r-3 .overlay h4{
    border-left: 2px solid brown;
}
.welcome-r-4 .overlay h4{
    border-left: 2px solid rgb(19, 189, 19);
}


.news-container{
    padding: 1.5rem 1rem;
}
.news-heading{
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}
.news-container .line{
    width: 3px;
    height: 1.3rem;
    background-color: red;
}

.news-container .sport-line{
    width: 3px;
    height:1.3rem;
    background-color: yellow;
}

.news-container h2{
    color: rgb(91, 87, 87);
    font-size: 2rem;
    font-weight: bolder;
    padding-left: 0.5rem;
}
.news-container h2:hover{
    color: black;
    cursor: pointer;
}

.news-content-wrappper{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.news-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-content-wrappper .news-content img{
    width: 100%;
}

.news-content .news-text-wrapper h3{
    color: #212121;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0;
}

 .news-content  .news-text-wrapper > p{
    color: #212121;
    font-weight: 400;
    font-size: 14px;
    max-width: 80%;
}
.news-content > span{
    font-size: 14px;
    font-weight: lighter;
    cursor: pointer;
    width: fit-content;
    border-bottom: 1px solid transparent;
}
.news-content .quote{
   display: flex;
   align-items: center;
   gap: 0.3rem;
   cursor: pointer;
}

.news-content .quote .line{
    width: 2px;
    height: 0.85rem;
    background-color: red;
}
.news-content .quote .line-sport{
    width: 2px;
    height: 0.85rem;
    background-color: yellow;
}

.news-content > span:hover{
    border-bottom: 1px solid #212121;
}

.news-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.earth-container{
    background-image: linear-gradient(to top, transparent, rgba(0,0,0,0.9)), url('/images/earthbg.jpg');
    height: fit-content;
    color: white;
    padding: 1.5rem;
}
.earth-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.earth-heading > h3{
    display: flex;
    justify-content: center;
    height: fit-content;
    align-items: center;
    border:1px solid green;
    padding: 0.3rem;
}
.earth-subhead{
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 1rem;
}
.visit{
    border: 1px solid white;
    border-radius: 20px;
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;
}
.visit:hover{
    width: 20%;
    border: 1px solid white;
    transition: ease-in-out 2s;
}

.earth-container .earth-content-wrappper{
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
    padding-bottom: 0.5rem;
}
.earth-content-wrappper .earth-content img{
    width: 100%;
}
 
.earth-content-wrappper .earth-content{
    background-color: white;
    color: #444444;
}
.earth-content h3{
    padding: 0.6rem;
}

.editor-container{
    padding: 1.5rem;
}
.editor-heading{
    display: flex;
    align-items: center;
    gap: 0.3rem;

}
.editor-heading .line{
    background-color: teal;
    width: 2px;
    height: 16px;
}
.editor-heading h3{
    font-size: x-large;
    cursor: pointer;
    color: #212121;
}
.editor-heading h3:hover{
    color: black;
}
.editor-content-wrapper{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

@media (max-width:879px) {
    .nav-wrapper{
        display: flex;
    }
    .nav-wrapper .nav-menus{

    }
   .nav-menus  p:nth-child(n+5){
    background-color: green;
    display: none;
    }
    .nav-wrapper{
        display: flex;
        gap: 3rem;
    }
    .nav-menus{
        margin-left: 1.5rem;
    }
    
    .welcome-img-wrapper{
        display: grid;
        grid-template-columns: 1fr;
        height: 45rem;
        gap: 0.7rem;
        margin-top: 1rem;
    }
    .welcome-img-wrapper .welcome-left{
        background-image:url('./images/welcome-img-1.jpg');
        background-size: cover;
        height: 20rem;
        cursor: pointer;
    }
    .welcome-img {
        height: 12rem;
    }
    .welcome-page{
        background-color: white;
        margin-top: 2rem;
        padding: 0.8rem;
        height: 100%;
    }
    
    .news-content-wrappper{
        display:grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }

}
@media (max-width:700px) {
    .header .header-large-screen{
        display: none;
    }
    .logo-signup-wrapper{
        width: fit-content;
    }
    .header .header-mobile{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: black;
        padding: 0.7rem;
    }
    .menu-icons{
        display: flex;
        gap: 0.5rem;
    }
    .welcome-img-wrapper{
        display: grid;
        grid-template-columns: 1fr;
        height: 60rem;
        gap: 0.7rem;
        margin-top: 1rem;
    }

    .welcome-img-wrapper .welcome-right{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        margin-top: 0.5rem;
    }

    .welcome-img-wrapper .welcome-left{
        background-size: cover;
        height: 12rem;
        cursor: pointer;
    }
    .news-content-wrappper{
        display:grid;
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }

    footer{
        margin-top: 5rem;
    }
    .earth-heading h3{
        font-size: 20px;
    }  
    
    .visit{
        width: 30%;
    }
    .visit:hover{
        width: 25%;
        border: 1px solid white;
        transition: ease-in-out 2s;
    }
    .earth-container .earth-content-wrappper{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1.5rem;
        padding-bottom: 0.5rem;
    }
}